#page{
    height: 100svh;
    width: 210svb;
    background-color: rgb(202, 240, 248);
}
#set{
    display: flex;
    margin-left: 3px;
    font-family: Verdana;
    align-items: start;
}
body{
    background-color: rgb(23, 61, 83);
}

h3{
    padding-left: 10px;
    margin-top: 10px;
}
#clock{
    height: 230px;
    width: 640px;
    background-color: rgb(0, 180, 216);
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    border: 2px, solid, black;  
}
#start {
    height: 38px;
    width: 600px;
    background-color: rgb(237, 231, 231);
    margin-left: 15px;
    margin-bottom: 5px;
    border: 2px,solid,gray;
}

#end {
    height: 38px;
    width: 600px;
    background-color: rgb(237, 231, 231);
    margin-left: 15px;
    margin-bottom: 5px;
    border: 2px,solid,gray;
}


#days{
    font-family: Verdana;
}

#tablebtn{
    background-color: rgb(3, 4, 94);
    color: white;
    margin-left: 500px;
}