body{
    font-family: Arial, Helvetica, sans-serif; 
    background-color: rgb(201, 241, 249);
}
h1{
    text-align: center;
}
footer{
    background-color: rgb(19, 41, 61);
    color: rgb(255, 255, 255);
    height: 350px;
    margin-top: 50px;
    display: flex;
}

#end{
    padding-top: 280px;
    padding-left: 996px;
}

#next{
    width: 115px;
    height: 40px;
    text-decoration: none;
}

button{
    margin-left: 550px;
    background-color: rgb(25, 227, 25);
    font-size: medium;
    font-weight: bold;
}
.last{
    width: 150px;
    height: 150px;
    padding-left: 170px;
    padding-top: 15px;
}
.links{
    text-decoration: none;
    color: aliceblue;
}
main{
    color: black;
}
header{
    color: black;
}