body{
    font-family: Arial, Helvetica, sans-serif; 
}
h1{
    text-align: center;
}

footer{
    background-color: rgb(19, 41, 61);
    color: rgb(255, 255, 255);
    height: 350px;
    margin-top: 50px;
}

a{
    display: inline-block;
    padding-left: 130px;
    font-size: larger;
    text-decoration: underline;
    padding-top: 10px;
}

#end{
    padding-top: 280px;
    padding-left: 996px;
}

pre{
    font-family: Arial, Helvetica, sans-serif;
}