body{
    background-color: rgb(240, 244, 248);
    font-family: Arial, Helvetica, sans-serif;
}
div{
    width: 350px;
    height: 360px;
    margin-left: 36%;
    margin-top: 3%;
    background-color: rgb(158, 212, 222);
    border: 2px, solid, black;
}

#login{
    padding-top: 2%;
    padding-left: 7%;
}

form{
    padding-left: 5.5%;
}

button{
    padding-left: 00%;
    margin-left: 20%;
    background-color: rgb(5, 62, 74);
    color: rgb(255, 255, 255);
    border-radius: 40%;
}

h1{
    text-align: center;
}

